{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for image in images %}
                {% if image.approved %}
                    <div class="col-md-4 text-center" style="height: 350px;margin-bottom: 1%">
                        <table class="table table-bordered" style="height: 100%">
                            <tr>
                                <td>
                                    <div><h4>{{ image.title }}</h4></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 100%">
                                    <span style="vertical-align: middle;height: 100%;display: inline-block"></span><img
                                            data-type="image" data-toggle="{{ image.author }}"
                                            data-title="{{ image.title }}"
                                            data-href="{{ path('image_delete', {'id': image.id, 'route': 'index'}) }}"
                                            style="max-width:340px;max-height:260px;vertical-align: middle;"
                                            src="{{ asset('uploads/images/' ~ image.image) }}"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="title"></h4>
                </div>
                <div class="modal-body text-center" style="position: relative;">
                    <img style="max-height: 500px" class="center-block img-responsive" id="img01">
                </div>
                <div class="modal-footer" style="">
                    <div id="author" style="float: left;">
                    </div>

                    {% if is_granted('ROLE_MOD') %}
                        <a id="delete" class="btn btn-danger">
                            Delete
                        </a>
                    {% endif %}
                    <a id="fullSize" target="_blank" class="btn btn-success">
                        FullSize
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block pageJavaScripts %}
    <script>
        $("[data-type='image']").click(function () {
            $("#img01").attr("src", $(this).attr("src"));
            $("#author").html("Author: " + $(this).attr("data-toggle"));
            $("#fullSize").attr("href", $(this).attr("src"));
            $("#title").html($(this).attr("data-title"));
            $("#myModal").modal();
            $("#delete").attr("href", $(this).attr("data-href"));
        });
    </script>
{% endblock %}