{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="col-md-9 center-block" style="float: none">
            <table class="table table-striped table-bordered ">
                <thead class="thead-inverse">
                <tr>
                    <th>Nick Name</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
                </thead>
                {% for profile in user %}
                    {% if app.user.isRole('ROLE_OWNER') %}
                        {% if(profile.isRole('ROLE_OWNER')==false) %}
                            <tr>
                                <td>
                                    {{ profile.nickName }}
                                </td>
                                <td>
                                    {{ profile.email }}
                                </td>
                                <td>
                                    {{ profile.firstName }}
                                </td>
                                <td>
                                    {{ profile.lastName }}
                                </td>

                                <td class="text-center">
                                    <a class="btn btn-default btn-sm"
                                       href="{{ path('admin_editProfile',{'id':profile.id}) }}">Edit</a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm"
                                       href="{{ path('admin_deleteProfile', {'id': profile.id}) }}">Delete</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if app.user.isRole('ROLE_ADMIN') %}
                        {% if(profile.isRole('ROLE_ADMIN')==false and profile.isRole('ROLE_OWNER')==false) %}
                            <tr>
                                <td>
                                    {{ profile.nickName }}
                                </td>
                                <td>
                                    {{ profile.email }}
                                </td>
                                <td>
                                    {{ profile.firstName }}
                                </td>
                                <td>
                                    {{ profile.lastName }}
                                </td>

                                <td class="text-center">
                                    <a class="btn btn-default btn-sm"
                                       href="{{ path('admin_editProfile',{'id':profile.id}) }}">Edit</a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm"
                                       href="{{ path('admin_deleteProfile', {'id': profile.id}) }}">Delete</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block pageJavaScripts %}
{% endblock %}