{% extends 'base.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}
    <div class="container body-content">
        {% if count == 0 %}
            <div class="text-center">
                <h2>You did not upload any images</h2>
            </div>
        {% else %}
            <div class="text-center">
                <h2>Your uploaded images</h2>
            </div>
            {% if approvedCount > 0 %}
                <div>
                    <h4>Approved Images:</h4>
                </div>
                <div class="row">
                    {% for image in approvedImages %}
                        <div class="col-md-4 text-center" style="height: 400px;margin-bottom: 1%">
                            <table class="table table-bordered" style="height: 100%;">
                                <tr>
                                    <td>
                                        <div><h4>{{ image.title }}</h4></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 100%"><span style="vertical-align: middle;height: 100%;display: inline-block"></span><img style="max-width:340px;max-height:260px;vertical-align: middle;" src="{{ asset('uploads/images/' ~ image.image) }}" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <a
                                            class="btn btn-danger" style="width: 100%"
                                            href="{{ path('image_delete', {'id': image.id, 'route': 'profile'}) }}">Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if notApprovedCount>0 %}
                <div class="row">
                    <div>
                        <h4>Images in queue:</h4>
                    </div>
                    {% for image in notApprovedImages %}
                        <div class="col-md-4 text-center" style="height: 400px;margin-bottom: 1%">
                            <table class="table table-bordered" style="height: 100%">
                                <tr>
                                    <td>
                                        <div><h4>{{ image.title }}</h4></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 100%"><span style="vertical-align: middle;height: 100%;display: inline-block"></span><img style="max-width:340px;max-height:260px;vertical-align: middle;" src="{{ asset('uploads/images/' ~ image.image) }}" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div><a class="btn btn-danger" style="width: 100%"
                                                href="{{ path('image_delete', {'id': image.id, 'route': 'profile'}) }}">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

